<!DOCTYPE html>
<html>
  <head>
    <title>Display Voting</title>
    <link rel='stylesheet' href='css/stylesheet.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
		<%console.log(displays);%>
  	<div id="vote">
  		<div class="title"><h1><i>Select Your Favorite Computer Science Display</i></h1></div>
  		<!-- The grid of CS Open House Project cards -->
	    <section class="card-container">
			<!-- TODO: Add display ID from db and make it card ID -->
			<% for(i=1;i<=displays.length;i++) {%>
	    	<div class="card" onclick="selectCard('v<%= i %>', '<%= i %>')" id="<%= i %>">
	    		<!-- TODO: Add display ID from database to v -->
	    		<div id="v<%= i %>" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<!-- TODO: Add display ID from database to i -->
	    			<img id="i<%= i %>">
	    		</figure>
	    		<header class="card_title">
	    			<h3><%= displays[i-1].name %></h3>
	    		</header>
			</div>
			<% } %>

	    	<!-- <div class="card" onclick="selectCard('v2', '2')" id="2">
	    		<div id="v2" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i2">
	    		</figure>
	    		<header class="card_title">
	    			<h3> Display Name 2</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v3', '3')" id="3">
	    		<div id="v3" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i3">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 3</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v4', '4')" id="4">
	    		<div id="v4" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i4">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 4</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v5', '5')" id="5">
	    		<div id="v5" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i5">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 1</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v6', '6')" id="6">
	    		<div id="v6" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i6">
	    		</figure>
	    		<header class="card_title">
	    			<h3> Display Name 2</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v7', '7')" id="7">
	    		<div id="v7" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i7">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 3</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v8', '8')" id="8">
	    		<div id="v8" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i8">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 4</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v9', '9')" id="9">
	    		<div id="v9" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i9">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 1</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v10', '10')" id="10">
	    		<div id="v10" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i10">
	    		</figure>
	    		<header class="card_title">
	    			<h3> Display Name 2</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v11', '11')" id="11">
	    		<div id="v11" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i11">
	    		</figure>
	    		<header class="card_title">
	    			<h3> Display Name 2</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v12', '12')" id="12">
	    		<div id="v12" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i12">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 3</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v13', '13')" id="13">
	    		<div id="v13" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i13">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 4</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v14', '14')" id="14">
	    		<div id="v14" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i14">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 1</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v15', '15')" id="15">
	    		<div id="v15" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i15">
	    		</figure>
	    		<header class="card_title">
	    			<h3> Display Name 2</h3>
	    		</header>
	    	</div>

	    	<div class="card" onclick="selectCard('v16', '16')" id="16">
	    		<div id="v16" class="voted"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
	    		<figure class="card_icon">
	    			<img id="i16">
	    		</figure>
	    		<header class="card_title">
	    			<h3> Display Name 2</h3>
	    		</header>
	    	</div> -->
	    </section> <!-- End Card style -->
	    <div class="btn-wrapper">
	    	<input type="button" class="btn btn-top-color" value="Vote">
	    </div>
	</div> <!-- End voting page -->
  </body>

  <footer class="footer">
  	
  	<p>Copyright &copy; 2018. All Rights Reserved </p>
  	<p>Developed by <a href="http://www.RyanPaulWilliams.com">Ryan Williams</a>, <a href="https://github.com/cjmeeks">Clifford Meeks</a>, and <a href="https://github.com/djlovell">Danny Lovell</a></p>
  	<p>Icons made by <a href="https://www.freepik.com">Freepik</a> from <a href="https://www.flaticon.com">www.flaticon.com</a></p>
  </footer>
</html>

<script>
	/* TODO: Replace with number of displays from EJS */ 
	var NUM_DISPLAYS = 16;
	var selected = null;

	var icons = {
		1: "images/icons/startup.svg",
		2: "images/icons/telescope.svg",
		3: "images/icons/satellite.svg",
		4: "images/icons/solar-system.svg",
		5: "images/icons/solar-system-2.svg",
		6: "images/icons/aqualung.svg",
		7: "images/icons/space-ship.svg",
		8: "images/icons/ufo.svg",
		9: "images/icons/planet.svg",
		10: "images/icons/robot.svg",
		11: "images/icons/robot-2.svg",
		12: "images/icons/space-ship-2.svg",
		13: "images/icons/moon-rover.svg",
		14: "images/icons/moon-rover-2.svg",
		15: "images/icons/space-ship-3.svg"
	};

	/* Adds/removes check marks accordingly, and updates the selected variable
	   @param vote_id: the id of the check mark corresponding to this card
	   @param display_id: the id of this card, which is also the id of its display in the db
	 */
	function selectCard(vote_id, display_id) {
		/* Visibility of the checkmark of the card that was selected */
		var visibility = document.getElementById(vote_id).style.visibility;

		/* We have already selected a card */
		if(selected !== null) {
			/* The ID of the check mark that was previously selected */
			var prev_vote_id = "v" + selected;

			/* Check if we are trying to deselect the card we already selected */
			if(prev_vote_id === vote_id) {
				/* DESELECT the checkmark */
				document.getElementById(vote_id).style.visibility = "hidden";
				/* Since we clicked the card we already selected, we now have nothing selected */
				selected = null;
			}
			/* Check if we are trying to select a different card than what we previously selected */
			else if(prev_vote_id !== vote_id) {
				/* DESELECT the previous card we selected */
				document.getElementById(prev_vote_id).style.visibility = "hidden";
				/* SELECT the new card */
				document.getElementById(vote_id).style.visibility = "visible";
				/* Update the display we selected */
				selected = display_id;
			}	
		}
		/* We have no cards currently selected */
		else {
			document.getElementById(vote_id).style.visibility = "visible";
			selected = display_id;
		}
	}

	/* Get a random icon from the icons object */
	function getRandomIcon() {
		/* Random number between 1 and 15 */
		var min = 1;
		var max = 15;
		var randomNum = Math.floor(Math.random() * (max - min + 1)) + min;
		return icons[randomNum];
	}

	/* Give each card a random icon */
	function populateCardIcons() {
		for(var elem = 1; elem <= NUM_DISPLAYS; elem++) {
			var id = "i" + elem;
			var icon = getRandomIcon();
			document.getElementById(id).src = icon; 
		}
	}
	populateCardIcons();
	
	
</script>